.admin-footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.admin-footer select{
    margin: 0px;
    padding: 6px 0px;
    font-family: 'Circular-Loom';
    font-style: normal;
    font-size: 14px;
    font-weight: 520;
    border-radius: 8px;
    cursor: pointer;
    outline: none;

}

.admin-footer p{
    margin: 0px;
    padding: 6px 8px;
    background-color: transparent;
    color: black;
    font-family: 'Circular-Loom';
    font-style: normal;
    font-size: 14px;
    font-weight: 520;
    text-align: center;
    cursor: pointer;
    border-radius: 7px;
    border:  1px solid grey;
}

.hello-modal{
    position: fixed;
    margin-top: 50%;
    margin-left: 50%;
    width: 60%;
}