.nav-bar-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    background-color: #5D5c61;
    height: 60px;
    align-items: center;
}

.nav-bar-container p{
    font-family:'Circular-Loom';
    font-style: normal;
    font-size: 18px;
    font-weight: 520;
    color: #fff;
}

.nav-bar-container a{
    text-decoration: none;
}

.nav-bar-container a p{
    font-family: 'Circular-Loom';
    font-style: normal;
    font-size: 18px;
    font-weight: 520;
    color: whitesmoke;

}

.nav-bar-path{
    display: flex;
    gap: 100px;
}